<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="shortcut icon" href="../public/image/logo-web.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/share/fontawesome-free-5.15.4-web/css/all.min.css">
    <script src="../public/share/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../public/admin/css/main.css">
    <link rel="stylesheet" href="../public/admin/css/create.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo">
                <a href="">
                    <img src="../public/image/logo-web.png" alt="">
                </a>
            </div>
            <div class="title-header">
                <h2>Quản lý hệ thống</h2>
            </div>
            <div class="user-info">
                <div class="title-user">
                    <span>Xin chào! Admin</span>
                </div>
                <div class="img-user">
                    <img src="../public/image/user-img.png" alt="">
                    <div class="modal-user">
                        <div class="info-detail">
                            <div class="header-modal">
                                <img src="../public/image/user-img.png" alt="">
                                <div class="role-name">
                                    <span>Admin</span>
                                </div>
                            </div>
                            <div class="footer-modal">
                                <a href=""class="button">
                                    Profile
                                </a>   
                                <a href=""class="button">
                                    Logout
                                </a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="sidebar">
                <h3>Menu quản lý</h3>
                <a href="" class="button">
                    <i class="fas fa-chart-line"></i>
                    Dashboard
                </a>
                <a href="" class="button">
                    <i class="fas fa-bookmark"></i>
                    Banner
                </a>
                <a href="" class="button">
                    <i class="fas fa-list-ul"></i>
                    Category
                </a>
                <a href="" class="button">
                    <i class="fas fa-cubes"></i>
                    Product
                </a>
                <a href="" class="button">
                    <i class="fas fa-shopping-cart"></i>
                    Order
                </a>
                <a href="" class="button">
                    <i class="fas fa-users"></i>
                    Customer
                </a>
                <a href="" class="button">
                    <i class="fas fa-user-shield"></i>
                    User-admin
                </a>
                <a href="" class="button">
                    <i class="fas fa-user-cog"></i>
                    Role
                </a>
                <a href="" class="button">
                    <i class="fas fa-cogs"></i>
                    Config-web
                </a>
            </div>
            <div class="content-main">
                <div class="table-data">
                    <div class="header-table">
                        <h3>Form data</h3>
                        <a href="" class="a-icon">
                            <div class="icon">
                                <i class="fas fa-list"></i>
                                Danh sach data
                            </div>
                        </a>
                    </div>
                    <div class="form-data">
                        <form action="" class="create-data">
                            <div class="input-data">
                                <label for="">Text input</label>
                                <input type="text" name="" id="" class="input-text">
                            </div>
                            <div class="input-data">
                                <label for="">File</label>
                                <input type="file" name="" id="" class="input-file">
                            </div>
                            <div class="input-data">
                                <label for="">Textarea</label>
                                <textarea name="textarea" id="" cols="30" rows="10"></textarea>
                            </div>
                            <div class="input-data">
                                <label for="">Text input</label>
                                <div class="radio-data">
                                    <input type="radio" name="" id="">
                                    <label for="">aaa</label>
                                    <input type="radio" name="" id="">
                                    <label for="">bbb</label>
                                </div>
                            </div>
                            <div class="input-data">
                                <label for="">Text input</label>
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">1</option>
                                    <option value="">1</option>
                                </select>
                            </div>
                            <div class="submit-form">
                                <button type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="social-network">
                <i class="fab fa-facebook"></i>
                <a href="">Bùi Thế Phước</a>
            </div>
            <div class="social-network">
                <i class="fab fa-github"></i>
                <a href="">Bùi Thế Phước</a>
            </div>
            <div class="social-network">
                <i class="fas fa-envelope"></i>
                <a href="">Bùi Thế Phước</a>
            </div>
        </div>
    </div>
</body>
    <script src="../public/share/ckeditor_4.19.0_full/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'textarea' );
    </script>
</html>